.EditButton {
    padding: 12px;
}
.Group_34 {
    position: absolute;
    border: 0;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    width: 37.786px;
    height: 37.786px;
    overflow: visible;
    background-color: transparent;

}
.Group_34:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.Group_5 {
    position: absolute;
    width: 19.209px;
    height: 22.396px;
    left: 9.288px;
    top: 7.695px;
    overflow: visible;
}
.Line_19 {
    overflow: visible;
    position: absolute;
    width: 14.165px;
    height: 14.165px;
    left: 0px;
    top: 8.783px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_7 {
    overflow: visible;
    position: absolute;
    width: 7.009px;
    height: 6.882px;
    left: 13.109px;
    top: 3.187px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_8 {
    overflow: visible;
    position: absolute;
    width: 6.244px;
    height: 16.444px;
    left: 12.419px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Ellipse_4 {
    position: absolute;
    overflow: visible;
    width: 38.568px;
    height: 38.568px;
    left: 0px;
    top: 0px;
}

#edit {
    position: absolute;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    line-height: 18px;
    text-align: center;
    font-family: InputMono-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.4px;
    top: 40px;
}

#delete {
    position: absolute;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    line-height: 18px;
    text-align: center;
    font-family: InputMono-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.4px;
    top: 40px;
}

.DeleteButton {
    padding: 12px;
}
.Group_35 {
    position: absolute;
    border: 0;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    width: 37.786px;
    height: 37.786px;
    overflow: visible;
    background-color: transparent;
}
.Group_35:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.Group_7 {
    position: absolute;
    width: 20.475px;
    height: 20.475px;
    left: 8.656px;
    top: 8.656px;
    overflow: visible;
}
.Line_20 {
    overflow: visible;
    position: absolute;
    width: 18.591px;
    height: 18.591px;
    left: 2.436px;
    top: 2.436px;
    transform: matrix(1,0,0,1,0,0);
}
.Ellipse_5 {
    position: absolute;
    overflow: visible;
    width: 3.727px;
    height: 3.727px;
    left: 0px;
    top: 0px;
}
.Line_21 {
    overflow: visible;
    position: absolute;
    width: 18.591px;
    height: 18.591px;
    left: 0px;
    top: 2.436px;
    transform: matrix(1,0,0,1,0,0);
}
.Ellipse_6 {
    position: absolute;
    overflow: visible;
    width: 3.727px;
    height: 3.727px;
    left: 17.53px;
    top: 0px;
}
.Ellipse_7 {
    position: absolute;
    overflow: visible;
    width: 38.568px;
    height: 38.568px;
    left: 0px;
    top: 0px;
}

.FilterButton {
    position: absolute;
    overflow: visible;
    width: 58.122px;
    left: 5px;
    top: 56.5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

.FilterButton:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.FILTERS {
    transform: matrix(1,0,0,1,11.2625,122.8705) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    left: 0px;
    top: -45px;
    white-space: nowrap;
    line-height: 12px;
    text-align: left;
    font-family: InputMono-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(56,56,56,1);
}

  

.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 58.122px;
    height: 58.122px;
    left: 0px;
    top: 56.5px;
}
.Ellipse_2 {
    position: absolute;
    overflow: visible;
    width: 5.913px;
    height: 5.913px;
    left: 21.681px;
    top: 82.874px;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 8.377px;
    height: 0.54px;
    left: 13.304px;
    top: 85.561px;
    transform: matrix(1,0,0,1,0,0);
}
.Ellipse_3 {
    position: absolute;
    overflow: visible;
    width: 5.913px;
    height: 5.913px;
    left: 37.438px;
    top: 82.874px;
}
.Line_2 {
    overflow: visible;
    position: absolute;
    width: 8.377px;
    height: 0.54px;
    left: 29.061px;
    top: 85.561px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_3 {
    overflow: visible;
    position: absolute;
    width: 11.194px;
    height: 5.913px;
    left: 32.157px;
    top: 90.791px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_3 {
    overflow: visible;
    position: absolute;
    width: 18.854px;
    height: 0.54px;
    left: 13.304px;
    top: 93.477px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_4 {
    overflow: visible;
    position: absolute;
    width: 11.194px;
    height: 5.914px;
    left: 13.303px;
    top: 75.078px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_4 {
    overflow: visible;
    position: absolute;
    width: 18.854px;
    height: 0.54px;
    left: 23.958px;
    top: 77.765px;
    transform: matrix(1,0,0,1,0,0);
}

.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 21.327px;
    height: 411.419px;
    left: 18.631‬px;
    top: 255.749px;
}
    #Group_83 {
        cursor: pointer;
		position: absolute;
		width: 104.628px;
		height: 37.787px;
		left: 933.514px;
		top: 850.279px;
		overflow: visible;
    }
    #Group_83:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
	.Path_21 {
		overflow: visible;
		position: absolute;
		width: 105.41px;
		height: 38.569px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#SAVE {
		position: absolute;
		left: 35.111px;
		top: 11.732px;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		line-height: 18px;
		margin-top: -3px;
		text-align: left;
		font-family: InputMono-Regular;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(56,56,56,1);
		letter-spacing: 0.4px;
	}
	#Group_84 {
        cursor: pointer;
		position: absolute;
		width: 104.628px;
		height: 37.787px;
		left: 798.899px;
		top: 850.279px;
		overflow: visible;
    }
    #Group_84:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
	.Path_22 {
		overflow: visible;
		position: absolute;
		width: 105.41px;
		height: 38.569px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
#CANCEL {
	position: absolute;
	left: 31.111px;
	top: 11.732px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: InputMono-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(119,119,119,1);
	letter-spacing: 0.4px;
}

#CloseButton {
    position: absolute;
    right: 0px;  
    top: 18.79px;
    background-color:inherit; 
}

.Checkbox-Button{
    width: 25.167px;
    height: 25.167px;
}

.Path_28 {
    position: absolute;
    overflow: visible;
    width: 105.41px;
    height: 38.568px;
    transform: matrix(1,0,0,1,0,0);
}
#_________gh {
    position: absolute;
    overflow: visible;
    align-self:center;
    width: 65px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -3px;
    text-align: left;
    font-family: InputMono-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.4px;
}
.Path_29 {
    overflow: visible;
    position: absolute;
    width: 105.411px;
    height: 38.568px;
    transform: matrix(1,0,0,1,0,0);
}
#__________gj {
    position: absolute;
    overflow: visible;
    width: 74px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -3px;
    text-align: left;
    font-family: InputMono-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.4px;
}