.Path_9 {
    overflow: visible;
    position: absolute;
    width: 15.962px;
    height: 34.35px;
    left: 727.935px;
    top: 247.409px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_9 {
    position: absolute;
    width: 25.413px;
    height: 23.992px;
    left: 894.869px;
    top: 251.436px;
    overflow: visible;
}