.field {
    margin-bottom: 25px;
    }
  
  .field label {
    font-size: 13px;
    margin-bottom: 3px;
    color: #666;
    }
  
  .bounded-input {
      position: relative;
      }
  
  .bounded-input input,
  .bounded-input textarea {
      display: block;
      font-family: 'source-sans-pro', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      outline: none;
      border: 1px solid #ccc;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      box-sizing: border-box;
      padding: 8px 10px;
      font-size: 0.875rem;
      color: #333333;
      background: #ffffff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: 120ms;
      -moz-transition: 120ms;
      transition: 120ms;
      }
  
  .bounded-input input,
  .bounded-input textarea {
      padding-right: 25px;
      }
  
  .bounded-input__limit-indicator {
      position: absolute;
      z-index: 1;
      right: 10px;
      top: 12px;
      font-size: 0.75rem;
      text-align: center;
      }
  
  .bounded-input__limit-indicator > span {
      position: absolute;
      z-index: 2;
      left: 50%;
      bottom: 100%;
      margin-bottom: 10px;
      -webkit-transform: translate(-50%,5px);
      -moz-transform: translate(-50%,5px);
      transform: translate(-50%,5px);
      background: rgba(15,15,15,0.9);
      color: #ffffff;
      visibility: hidden;
      opacity: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: 200ms;
      -webkit-transition-property: -webkit-transform, opacity, visibility;
      -moz-transition: 200ms;
      -moz-transition-property: -webkit-transform, opacity, visibility;
      transition: 200ms;
      transition-property: -webkit-transform, opacity, visibility;
      }
  
  .bounded-input__limit-indicator > span:not(:empty) {
      padding: 4px 5px;
      }
  
  .bounded-input__limit-indicator > span div {
      white-space: nowrap;
      }
  
  .bounded-input input:focus + .bounded-input__limit-indicator > span:not(:empty),
  .bounded-input textarea:focus + .bounded-input__limit-indicator > span:not(:empty) {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translate(-50%,0px);
      -moz-transform: translate(-50%,0px);
      transform: translate(-50%,0px);
      }
  
  .bounded-input__limit-indicator > span:not(:empty)::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      margin-left: -5px;
      border-style: solid;
      border-color: transparent;
      border-width: 5px 5px 0 5px;
      border-top-color: rgba(15,15,15,0.9);
      }
  
  .bounded-input__limit-indicator > span span {
      display: block;
      font-size: 20px;
      line-height: 1;
      margin-bottom: -4px;
      margin-top: 3px;
      }
  
  svg.bounded-input__radial-counter {
      overflow: visible;
      transform: rotate(-90deg);
      }
  
  .bounded-input__progress {
      stroke: #25b3d7;
      }
  
  .bounded-input--safe .bounded-input__progress {
      animation: RadialCounterPulse 0.3s ease-in-out;
      animation-iteration-count: 1;
      }
  
  .bounded-input--warn .bounded-input__progress {
      stroke: #ffad1f;
      animation: RadialCounterPulseWarn 0.3s ease-in-out;
      animation-iteration-count: 1;
      }
  
  .bounded-input--danger .bounded-input__progress {
      stroke: #ffad1f;
      fill: #ffad1f;
      animation: RadialCounterPulseDanger 0.8s ease-in-out;
      animation-iteration-count: infinite;
      }
  
  .bounded-input--error .bounded-input__progress {
      stroke: #e0245e;
      animation: RadialCounterPulseDanger 0.8s ease-in-out;
      }
  
  .bounded-input__progress-underlay {
      stroke: rgba(0,0,0,0.08);
      }
  @keyframes RadialCounterPulse {
      0% { stroke-width: 2 }
      50% { stroke-width: 4; }
      100% { stroke-width: 2; }
      }
  @keyframes RadialCounterPulseWarn {
      0% { stroke-width: 2 }
      50% { stroke-width: 4; }
      100% { stroke-width: 2; }
      }
  @keyframes RadialCounterPulseDanger {
      0% { stroke-width: 2 }
      50% { stroke-width: 4; }
      100% { stroke-width: 2; }
      }
  @keyframes RadialCounterPulseError {
      0% { stroke-width: 2 }
      50% { stroke-width: 4; }
      100% { stroke-width: 2; }
      }