.LogoutContainer {
  width: 100%;    
  height: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
}
  
.LogoutButton {
  font-size: 80%;
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
}
  
.FilterButton{
  width: 100%;    
  height: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  position: inherit;
}

.Drawer{
  text-align: center;
  margin: 0em;
}
