body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
  
.ReactTable {
  height: 500px;
  margin-left:20px;     
  margin-right:20px;
}
  
.rt-tbody,
.rt-thead {
    overflow-x: hidden !important;
}
  
.container__table {
  width: 95%;
  padding: 1%;
  overflow-y: scroll;  /* or auto */
}

.header{
  font-weight: bold;
}