:root {
  --web-view-ids: Web_1920___1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Web_1920___1 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Web 1920 – 1;
  --web-view-id: Web_1920___1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 1843.697px;
  height: 1041.044px;
  left: 74.302px;
  top: 0.487px;
}
#Background {
  position: absolute;
  width: 1839px;
  height: 113px;
  left: 76.13px;
  top: 0px;
  overflow: visible;
}
#Vector_Smart_Object {
  position: absolute;
  width: 1839px;
  height: 113px;
  left: 76.13px;
  top: 0px;
  overflow: visible;
}
#Rectangle_2 {
  opacity: 0.4;
}
.Rectangle_2 {
  width: 1458.365px;
  height: 112.639px;
  position: absolute;
  overflow: visible;
  transform: matrix(1,0,0,1,76.1299,-0.0001) rotate(180deg);
  transform-origin: center;
}
#Rectangle_3_l {
  opacity: 0.4;
}

.Rectangle_3_l {
  position: absolute;
  overflow: visible;
  width: 1843.697px;
  height: 112.152px;
  left: 74.302px;
  top: 0.487px;
}

.Path_1 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 1095.03px;
  top: 112.639px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_2 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 1859.402px;
  top: 112.639px;
  transform: matrix(1,0,0,1,0,0);
}
.Rectangle_5 {
  position: absolute;
  overflow: visible;
  width: 208.184px;
  height: 82.721px;
  left: 73.551px;
  top: 35.171px;
}

.react-tabs__tab-list{
  position: absolute;
  overflow: visible;
  width: 1843.697px;
  height: 54px;
  left: 74.302px;
  top: 61px;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: InputMono-Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
  background: linear-gradient(to left, rgba(255,0,0,0), #ffde17);
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  padding: 6px 12px;
  text-align: center;
  background: rgba(242,242,242,1);
  width: 208.184px;
  height: 82.721px;
  margin-top: -5.8px;
  margin-left: -12px;
}

.UnderlineTabTitle {
  width: 87.443px;
  height: 5.535px;
}

#ButtonAdd {
  position: absolute;
	left: 938px;
	top: 1032.311px;
	overflow: visible;
		width: 65px;
		white-space: nowrap;
		line-height: 18px;
		margin-top: -3px;
		text-align: left;
		font-family: InputMono-Light;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(88,89,91,1);
		letter-spacing: 0.4px;
}

#ButtonAdd:hover{
  cursor: pointer;
  background-color: rgb(56, 56, 23);
}

.Rectangle_6 {
  position: absolute;
  overflow: visible;
  width: 13.68px;
  height: 157.785px;
  left: 1904.319px;
  top: 209.079px;
}
.Ellipse_1 {
  position: absolute;
  overflow: visible;
  width: 58.122px;
  height: 58.122px;
  left: 5px;
  top: 56.5px;
}
.Ellipse_2 {
  position: absolute;
  overflow: visible;
  width: 5.913px;
  height: 5.913px;
  left: 26.681px;
  top: 82.874px;
}
.Line_1 {
  overflow: visible;
  position: absolute;
  width: 8.377px;
  height: 0.54px;
  left: 18.304px;
  top: 85.561px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_3 {
  position: absolute;
  overflow: visible;
  width: 5.913px;
  height: 5.913px;
  left: 42.438px;
  top: 82.874px;
}
.Line_2 {
  overflow: visible;
  position: absolute;
  width: 8.377px;
  height: 0.54px;
  left: 34.061px;
  top: 85.561px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_3 {
  overflow: visible;
  position: absolute;
  width: 11.194px;
  height: 5.913px;
  left: 37.157px;
  top: 90.791px;
  transform: matrix(1,0,0,1,0,0);
}
.Line_3 {
  overflow: visible;
  position: absolute;
  width: 18.854px;
  height: 0.54px;
  left: 18.304px;
  top: 93.477px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_4 {
  overflow: visible;
  position: absolute;
  width: 11.194px;
  height: 5.914px;
  left: 18.303px;
  top: 75.078px;
  transform: matrix(1,0,0,1,0,0);
}
.Line_4 {
  overflow: visible;
  position: absolute;
  width: 18.854px;
  height: 0.54px;
  left: 28.958px;
  top: 77.765px;
  transform: matrix(1,0,0,1,0,0);
}

.Rectangle_8 {
  position: absolute;
  overflow: visible;
  width: 21.327px;
  height: 411.419px;
  left: 23.631px;
  top: 255.749px;
}
#FILTERS {
  transform: matrix(1,0,0,1,11.2625,122.8705) rotate(-90deg);
  transform-origin: center;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 46px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -1px;
  text-align: left;
  font-family: InputMono-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(56,56,56,1);
}
#Tailoring_Times {
  transform: matrix(1,0,0,1,-160.7261,438.9189) rotate(-90deg);
  transform-origin: center;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 392px;
  white-space: nowrap;
  line-height: 58.10982131958008px;
  margin-top: -9.68497085571289px;
  text-align: left;
  font-family: InputMono-Thin;
  font-style: normal;
  font-weight: normal;
  font-size: 38.7398796081543px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
}
.Rectangle_9 {
  position: absolute;
  overflow: visible;
  width: 378.633px;
  height: 112.152px;
  left: 1534.495px;
  top: 0.487px;
}

#LOGOUT_BUTTON {
  position: absolute;
  overflow: visible;
  left: 1834.021px;
  top: 57.41px;
  background-color: rgba(56, 56, 56, 1);
  color: rgba(255,222,23,1);
  text-align: center;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14.40000057220459px;
  margin-top: -1.200000286102295px;
  width: 50px;
	white-space: nowrap;
}

#LOGOUT_BUTTON:hover{
  cursor: pointer;
  background-color: rgb(56, 56, 23);
}

#USERNAME {
  position: absolute;
  left: 1571.423px;
  top: 34.271px;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(119,119,119,1);
}

#administrator_email {
  position: absolute;
  left: 1571.423px;
  top: 51.412px;
  overflow: visible;
  width: 199px;
  white-space: nowrap;
  line-height: 21.600000381469727px;
  margin-top: -1.8000001907348633px;
  text-align: left;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(255,255,255,1);
  letter-spacing: -0.17px;
}
.Line_5 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 66.176px;
  left: 1802.128px;
  top: 29.079px;
  transform: matrix(1,0,0,1,0,0);
}
#costumART-Dashboard {
  transform: matrix(1,0,0,1,-40.7588,940.6748) rotate(-90deg);
  transform-origin: center;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 141px;
  white-space: nowrap;
  line-height: 29.341476440429688px;
  margin-top: -2.4451236724853516px;
  text-align: left;
  font-family: InputMono-Thin;
  font-style: normal;
  font-weight: normal;
  font-size: 24.451229095458984px;
  color: rgba(56,56,56,1);
}
.Path_5 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 945.757px;
  top: 173.47px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_6 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 903.757px;
  top: 173.47px;
  transform: matrix(1,0,0,1,0,0);
}
#______ {
  position: absolute;
  left: 327.286px;
  top: 170.123px;
  overflow: visible;
  width: 36px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#__________bh {
  position: absolute;
  left: 444.67px;
  top: 170.123px;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#____ {
  position: absolute;
  left: 722.024px;
  top: 170.123px;
  overflow: visible;
  width: 28px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#______bj {
  position: absolute;
  left: 775.495px;
  top: 170.123px;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#______bk {
  position: absolute;
  left: 881.883px;
  top: 170.123px;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#___________________bl {
  position: absolute;
  left: 949.965px;
  top: 170.123px;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#________________ {
  position: absolute;
  left: 1050.719px;
  top: 164.471px;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#_____________________ {
  position: absolute;
  left: 1325.526px;
  top: 170.123px;
  overflow: visible;
  width: 69px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#______bo {
  position: absolute;
  left: 1435.658px;
  top: 170.123px;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#__________ {
  position: absolute;
  left: 1201.238px;
  top: 170.123px;
  overflow: visible;
  width: 64px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
#________ {
  position: absolute;
  left: 1537.553px;
  top: 170.123px;
  overflow: visible;
  width: 54px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
.Line_6 {
  overflow: visible;
  position: absolute;
  width: 49.232px;
  height: 1px;
  left: 711.46px;
  top: 202.861px;
  transform: matrix(1,0,0,1,0,0);
}
.Line_7 {
  overflow: visible;
  position: absolute;
  width: 84.319px;
  height: 1px;
  left: 324.456px;
  top: 202.861px;
  transform: matrix(1,0,0,1,0,0);
}

.Table {
  position: absolute;
  overflow: visible;
  left: 126.469px;
  top: 170.123px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}

td { 
  padding:15px;
} 

th{
  padding:5px;
  border-bottom: 2px solid rgba(88,89,91,1);
}

.TableHead {
  font-size: 10px;
  
}

.TableBody {
  font-size: 15px;
  vertical-align: top;

}

#ColumnImageCostume {
  width: 176.69px;
  transform-origin: 0px 0px;
}

.Line_8 {
  width: 174.887px;
  height: 1px;
  transform: matrix(1,0,0,1,0,0);
}

#Image {
  width: 140.266px;
  height: 128.587px;
}


#ColumnNameCostume {
  /*width: 85px;*/
}

#ColumnDescrCostume {
  width: 250.996px;
}

#ColumnSexCostume {
  /*width: 42px;*/
}

#ColumnSexCostume {
  /*width: 89px;*/
}

#ColumnUseCostume {
  /*width: 89px;*/
}

#ColumnMaterial {
  /*width: 47px;*/
}

#ColumnLocation {
  width: 130px;
}

#ColumnDesigner {
  /*width: 110px;*/
}

#ColumnTPCostume {
  /*width: 80px;*/
}

#ColumnPartsCostume {
  width: 80px;
}

#ColumnActors {
  width: 110px;
}

#ColumnEditor {
  width:119px;
}

#ColumnActions {
  width:49px;
}

.Rectangle_10 {
  position: absolute;
  overflow: visible;
  width: 176.692px;
  height: 162.045px;
}

#Group_11 {
  position: absolute;
  width: 140.266px;
  height: 128.587px;
  overflow: visible;
}

#Group_34 {
  position: absolute;
  width: 37.786px;
  height: 37.786px;
  left: 1827.444px;
  top: 233.992px;
  overflow: visible;
}
#Group_5 {
  position: absolute;
  width: 19.209px;
  height: 22.396px;
  left: 9.288px;
  top: 7.695px;
  overflow: visible;
}
.Line_19 {
  overflow: visible;
  position: absolute;
  width: 14.165px;
  height: 14.165px;
  left: 0px;
  top: 8.783px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_7 {
  overflow: visible;
  position: absolute;
  width: 7.009px;
  height: 6.882px;
  left: 13.109px;
  top: 3.187px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_8 {
  overflow: visible;
  position: absolute;
  width: 6.244px;
  height: 16.444px;
  left: 12.419px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_4 {
  position: absolute;
  overflow: visible;
  width: 38.568px;
  height: 38.568px;
  left: 0px;
  top: 0px;
}
#Group_35 {
  position: absolute;
  width: 37.786px;
  height: 37.786px;
  left: 1827.444px;
  top: 332.505px;
  overflow: visible;
}
#Group_7 {
  position: absolute;
  width: 20.475px;
  height: 20.475px;
  left: 8.656px;
  top: 8.656px;
  overflow: visible;
}
.Line_20 {
  overflow: visible;
  position: absolute;
  width: 18.591px;
  height: 18.591px;
  left: 2.436px;
  top: 2.436px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_5 {
  position: absolute;
  overflow: visible;
  width: 3.727px;
  height: 3.727px;
  left: 0px;
  top: 0px;
}
.Line_21 {
  overflow: visible;
  position: absolute;
  width: 18.591px;
  height: 18.591px;
  left: 0px;
  top: 2.436px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_6 {
  position: absolute;
  overflow: visible;
  width: 3.727px;
  height: 3.727px;
  left: 17.53px;
  top: 0px;
}
.Ellipse_7 {
  position: absolute;
  overflow: visible;
  width: 38.568px;
  height: 38.568px;
  left: 0px;
  top: 0px;
}
#edit {
  position: absolute;
  left: 1831.406px;
  top: 281.633px;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;
  font-family: InputMono-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
}
#delete {
  position: absolute;
  left: 1822.818px;
  top: 377.285px;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;
  font-family: InputMono-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
}
.Line_22 {
  overflow: visible;
  position: absolute;
  width: 65.961px;
  height: 1px;
  left: 1810.368px;
  top: 310.853px;
  transform: matrix(1,0,0,1,0,0);
}

.Path_10 {
  overflow: visible;
  position: absolute;
  width: 25.413px;
  height: 23.992px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#______________________________ {
  position: absolute;
  left: 448.435px;
  top: 247.838px;
  overflow: visible;
  width: 250.996px;
  height: 184.248px;
  line-height: 17px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}

.Line_23 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 161.982px;
  left: 1810.368px;
  top: 435.749px;
  transform: matrix(1,0,0,1,0,0);
}
.Line_24 {
  overflow: visible;
  position: absolute;
  width: 18.591px;
  height: 18.591px;
  left: 1838.536px;
  top: 545.036px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_8 {
  position: absolute;
  overflow: visible;
  width: 3.727px;
  height: 3.727px;
  left: 1836.1px;
  top: 542.599px;
}
.Line_25 {
  overflow: visible;
  position: absolute;
  width: 18.591px;
  height: 18.591px;
  left: 1836.1px;
  top: 545.036px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_9 {
  position: absolute;
  overflow: visible;
  width: 3.727px;
  height: 3.727px;
  left: 1853.629px;
  top: 542.599px;
}
.Ellipse_10 {
  position: absolute;
  overflow: visible;
  width: 38.568px;
  height: 38.568px;
  left: 1827.444px;
  top: 533.944px;
}
#Group_16 {
  position: absolute;
  width: 19.209px;
  height: 22.396px;
  left: 1836.732px;
  top: 455.533px;
  overflow: visible;
}
.Line_26 {
  overflow: visible;
  position: absolute;
  width: 14.165px;
  height: 14.165px;
  left: 0px;
  top: 8.783px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_11 {
  overflow: visible;
  position: absolute;
  width: 6.882px;
  height: 7.137px;
  left: 13.109px;
  top: 3.187px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_12 {
  overflow: visible;
  position: absolute;
  width: 6.244px;
  height: 16.444px;
  left: 12.419px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_11 {
  position: absolute;
  overflow: visible;
  width: 38.568px;
  height: 38.568px;
  left: 1827.444px;
  top: 447.838px;
}
#edit_de {
  position: absolute;
  left: 1831.406px;
  top: 493.652px;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;
  font-family: InputMono-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
}
#delete_df {
  position: absolute;
  left: 1822.818px;
  top: 578.724px;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;
  font-family: InputMono-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
}
.Line_27 {
  overflow: visible;
  position: absolute;
  width: 65.961px;
  height: 1px;
  left: 1810.368px;
  top: 516.74px;
  transform: matrix(1,0,0,1,0,0);
}
#____________________dh {
  position: absolute;
  left: 320.285px;
  top: 437.745px;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -2px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(56,56,56,1);
}
#_______di {
  position: absolute;
  left: 715.519px;
  top: 480.947px;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.43px;
}
#Lorem_Ipsum_dummy_text__typese_dj {
  position: absolute;
  left: 772.495px;
  top: 438.745px;
  overflow: visible;
  width: 89px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#______________________________dk {
  position: absolute;
  left: 1044.599px;
  top: 439.745px;
  overflow: visible;
  width: 130px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -2px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(56,56,56,1);
}
#_________________dl {
  position: absolute;
  left: 1326.526px;
  top: 438.745px;
  overflow: visible;
  width: 80px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#_________________dm {
  position: absolute;
  left: 1435.658px;
  top: 438.745px;
  overflow: visible;
  width: 80px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#___________________________dn {
  position: absolute;
  left: 1197.613px;
  top: 438.745px;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#___________________________do {
  position: absolute;
  left: 1538.552px;
  top: 438.745px;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#________dp {
  position: absolute;
  left: 884.893px;
  top: 480.947px;
  overflow: visible;
  width: 44px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(56,56,56,1);
}
#________dq {
  position: absolute;
  left: 949.965px;
  top: 457.158px;
  overflow: visible;
  width: 72px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
.Path_13 {
  overflow: visible;
  position: absolute;
  width: 15.962px;
  height: 34.35px;
  left: 727.935px;
  top: 438.951px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_14 {
  overflow: visible;
  position: absolute;
  width: 25.413px;
  height: 23.992px;
  left: 894.869px;
  top: 442.979px;
  transform: matrix(1,0,0,1,0,0);
}
#_______________________________dt {
  position: absolute;
  left: 448.435px;
  top: 439.381px;
  overflow: visible;
  width: 250.996px;
  height: 184.248px;
  line-height: 17px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
.Rectangle_13 {
  position: absolute;
  overflow: visible;
  width: 176.692px;
  height: 162.045px;
  left: 123.639px;
  top: 436.452px;
}
#Rectangle_14 {
  opacity: 0.86;
  position: absolute;
  width: 247px;
  height: 140px;
  left: 88.504px;
  top: 446.923px;
  overflow: visible;
}
.Rectangle_15 {
  position: absolute;
  overflow: visible;
  width: 140.266px;
  height: 128.587px;
  left: 141.469px;
  top: 452.798px;
}
.Line_28 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 161.982px;
  left: 1810.368px;
  top: 629.18px;
  transform: matrix(1,0,0,1,0,0);
}
.Line_29 {
  overflow: visible;
  position: absolute;
  width: 18.591px;
  height: 18.591px;
  left: 1838.536px;
  top: 738.467px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_12 {
  position: absolute;
  overflow: visible;
  width: 3.727px;
  height: 3.727px;
  left: 1836.1px;
  top: 736.03px;
}
.Line_30 {
  overflow: visible;
  position: absolute;
  width: 18.591px;
  height: 18.591px;
  left: 1836.1px;
  top: 738.467px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_13 {
  position: absolute;
  overflow: visible;
  width: 3.727px;
  height: 3.727px;
  left: 1853.629px;
  top: 736.03px;
}
.Ellipse_14 {
  position: absolute;
  overflow: visible;
  width: 38.568px;
  height: 38.568px;
  left: 1827.444px;
  top: 727.375px;
}
.Line_31 {
  overflow: visible;
  position: absolute;
  width: 14.165px;
  height: 14.165px;
  left: 1836.732px;
  top: 657.747px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_15 {
  overflow: visible;
  position: absolute;
  width: 6.882px;
  height: 7.01px;
  left: 1849.842px;
  top: 652.151px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_16 {
  overflow: visible;
  position: absolute;
  width: 6.022px;
  height: 16.444px;
  left: 1849.151px;
  top: 648.964px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_15 {
  position: absolute;
  overflow: visible;
  width: 38.568px;
  height: 38.568px;
  left: 1827.444px;
  top: 641.269px;
}
#edit_d {
  position: absolute;
  left: 1831.406px;
  top: 687.083px;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;
  font-family: InputMono-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
}
#delete_d {
  position: absolute;
  left: 1822.818px;
  top: 772.155px;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;
  font-family: InputMono-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
}
.Line_32 {
  overflow: visible;
  position: absolute;
  width: 65.961px;
  height: 1px;
  left: 1810.368px;
  top: 710.171px;
  transform: matrix(1,0,0,1,0,0);
}
#____________________ea {
  position: absolute;
  left: 320.285px;
  top: 631.176px;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -2px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(56,56,56,1);
}
#_______eb {
  position: absolute;
  left: 715.519px;
  top: 674.378px;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.43px;
}
#Lorem_Ipsum_dummy_text__typese_ec {
  position: absolute;
  left: 772.495px;
  top: 632.176px;
  overflow: visible;
  width: 89px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#______________________________ed {
  position: absolute;
  left: 1044.599px;
  top: 633.176px;
  overflow: visible;
  width: 130px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -2px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(56,56,56,1);
}
#_________________ee {
  position: absolute;
  left: 1326.526px;
  top: 632.176px;
  overflow: visible;
  width: 80px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#_________________ef {
  position: absolute;
  left: 1435.658px;
  top: 632.176px;
  overflow: visible;
  width: 80px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#___________________________eg {
  position: absolute;
  left: 1197.613px;
  top: 632.176px;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#___________________________eh {
  position: absolute;
  left: 1538.552px;
  top: 632.176px;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#________ei {
  position: absolute;
  left: 884.893px;
  top: 674.378px;
  overflow: visible;
  width: 47px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.43px;
}
#________ej {
  position: absolute;
  left: 949.965px;
  top: 650.589px;
  overflow: visible;
  width: 72px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
.Path_17 {
  overflow: visible;
  position: absolute;
  width: 15.962px;
  height: 34.35px;
  left: 727.935px;
  top: 632.383px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_18 {
  overflow: visible;
  position: absolute;
  width: 25.413px;
  height: 23.992px;
  left: 894.869px;
  top: 636.41px;
  transform: matrix(1,0,0,1,0,0);
}
#_______________________________em {
  position: absolute;
  left: 448.435px;
  top: 632.812px;
  overflow: visible;
  width: 250.996px;
  height: 184.248px;
  line-height: 17px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
.Rectangle_16 {
  position: absolute;
  overflow: visible;
  width: 176.692px;
  height: 162.045px;
  left: 123.639px;
  top: 629.883px;
}
#Rectangle_17 {
  opacity: 0.86;
  position: absolute;
  width: 247px;
  height: 140px;
  left: 88.504px;
  top: 640.354px;
  overflow: visible;
}
.Rectangle_18 {
  position: absolute;
  overflow: visible;
  width: 140.266px;
  height: 128.587px;
  left: 141.469px;
  top: 646.229px;
}
.Line_33 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 161.982px;
  left: 1810.368px;
  top: 822.612px;
  transform: matrix(1,0,0,1,0,0);
}
.Line_34 {
  overflow: visible;
  position: absolute;
  width: 18.591px;
  height: 18.591px;
  left: 1838.536px;
  top: 931.898px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_16 {
  position: absolute;
  overflow: visible;
  width: 3.727px;
  height: 3.727px;
  left: 1836.1px;
  top: 929.461px;
}
.Line_35 {
  overflow: visible;
  position: absolute;
  width: 18.591px;
  height: 18.591px;
  left: 1836.1px;
  top: 931.898px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_17 {
  position: absolute;
  overflow: visible;
  width: 3.727px;
  height: 3.727px;
  left: 1853.629px;
  top: 929.461px;
}
.Ellipse_18 {
  position: absolute;
  overflow: visible;
  width: 38.568px;
  height: 38.568px;
  left: 1827.444px;
  top: 920.806px;
}
#Group_33 {
  position: absolute;
  width: 19.209px;
  height: 22.396px;
  left: 1836.732px;
  top: 842.395px;
  overflow: visible;
}
.Line_36 {
  overflow: visible;
  position: absolute;
  width: 14.165px;
  height: 14.165px;
  left: 0px;
  top: 8.783px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_19 {
  overflow: visible;
  position: absolute;
  width: 6.882px;
  height: 7.01px;
  left: 13.109px;
  top: 3.187px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_20 {
  overflow: visible;
  position: absolute;
  width: 6.022px;
  height: 16.444px;
  left: 12.419px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Ellipse_19 {
  position: absolute;
  overflow: visible;
  width: 38.568px;
  height: 38.568px;
  left: 1827.444px;
  top: 834.7px;
}
#edit_e {
  position: absolute;
  left: 1831.406px;
  top: 880.515px;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;
  font-family: InputMono-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
}
#delete_e {
  position: absolute;
  left: 1822.818px;
  top: 965.586px;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;
  font-family: InputMono-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.4px;
}
.Line_37 {
  overflow: visible;
  position: absolute;
  width: 65.961px;
  height: 1px;
  left: 1810.368px;
  top: 903.602px;
  transform: matrix(1,0,0,1,0,0);
}
#____________________e {
  position: absolute;
  left: 320.285px;
  top: 824.607px;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -2px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(56,56,56,1);
}
#_______e {
  position: absolute;
  left: 715.519px;
  top: 867.809px;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.43px;
}
#Lorem_Ipsum_dummy_text__typese_e {
  position: absolute;
  left: 772.495px;
  top: 825.607px;
  overflow: visible;
  width: 89px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#______________________________e {
  position: absolute;
  left: 1044.599px;
  top: 826.607px;
  overflow: visible;
  width: 130px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -2px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(56,56,56,1);
}
#_________________e {
  position: absolute;
  left: 1326.526px;
  top: 825.607px;
  overflow: visible;
  width: 80px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#_________________fa {
  position: absolute;
  left: 1435.658px;
  top: 825.607px;
  overflow: visible;
  width: 80px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#___________________________fa {
  position: absolute;
  left: 1197.613px;
  top: 825.607px;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#___________________________fb {
  position: absolute;
  left: 1538.552px;
  top: 825.607px;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#EDITOR {
  position: absolute;
  left: 1667.163px;
  top: 170.123px;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
}
.Line_38 {
  overflow: visible;
  position: absolute;
  width: 113.298px;
  height: 1px;
  left: 1667.163px;
  top: 202.861px;
  transform: matrix(1,0,0,1,0,0);
}
#editor_name_446_22_6_2019 {
  position: absolute;
  left: 1668.162px;
  top: 247.202px;
  overflow: visible;
  width: 119px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
  letter-spacing: 0.43px;
}
#editor_name_446 {
  position: absolute;
  left: 1668.162px;
  top: 438.745px;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#editor_name_446_fg {
  position: absolute;
  left: 1668.162px;
  top: 632.176px;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#editor_name_446_fh {
  position: absolute;
  left: 1668.162px;
  top: 825.607px;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
#________fi {
  position: absolute;
  left: 884.893px;
  top: 867.809px;
  overflow: visible;
  width: 44px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -30px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(56,56,56,1);
}
#________fj {
  position: absolute;
  left: 949.965px;
  top: 844.02px;
  overflow: visible;
  width: 72px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
.Path_21 {
  overflow: visible;
  position: absolute;
  width: 15.962px;
  height: 34.35px;
  left: 727.935px;
  top: 825.814px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_22 {
  overflow: visible;
  position: absolute;
  width: 25.413px;
  height: 23.992px;
  left: 894.869px;
  top: 829.841px;
  transform: matrix(1,0,0,1,0,0);
}
#_______________________________fm {
  position: absolute;
  left: 448.435px;
  top: 826.243px;
  overflow: visible;
  width: 250.996px;
  height: 184.248px;
  line-height: 17px;
  margin-top: -1px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(56,56,56,1);
}
.Rectangle_19 {
  position: absolute;
  overflow: visible;
  width: 176.692px;
  height: 162.045px;
  left: 123.639px;
  top: 823.315px;
}
#Rectangle_20 {
  opacity: 0.86;
	width: 247px;
}
.Rectangle_21 {
  position: absolute;
  overflow: visible;
  width: 140.266px;
  height: 128.587px;
  left: 141.469px;
  top: 839.66px;
}
#COPYRIGHT_2019___KOSTOUMART {
  position: absolute;
  left: 1716.125px;
  top: 1056.844px;
  overflow: visible;
  width: 156px;
  white-space: nowrap;
  line-height: 10.800000190734863px;
  margin-top: -0.9000000953674316px;
  text-align: left;
  font-family: InputMono-Thin;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: rgba(88,89,91,1);
}

.Path_23 {
  overflow: visible;
  position: absolute;
  width: 162.096px;
  height: 25.428px;
  left: 883.539px;
  top: 1016.103px;
  transform: matrix(1,0,0,1,0,0);
}
.Line_39 {
  overflow: visible;
  position: absolute;
  width: 19.692px;
  height: 0.726px;
  left: 916.555px;
  top: 1039.416px;
  transform: matrix(1,0,0,1,0,0);
}