.form-panel {
  background: rgba(242,242,242,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 74.302px;
  top: 113px;
}

.table {
  text-align: left;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(35,31,32,1);
  letter-spacing: 0.43px;
  padding-bottom: 50px;
  padding-top: 23px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: rgba(242,242,242,1);
}

td { 
  font-family: Roboto-Medium !important;
  font-style: normal!important;
  font-weight: normal!important;
  line-height: 17px;
} 

th {
  font-family: Roboto-Medium !important;
  font-style: normal!important;
  font-weight: bolder!important;
  padding-bottom:12px;
  padding-right:24px;
  padding-top:10px;
  border-bottom: 2px solid rgba(88,89,91,1);
  cursor: pointer;
  line-height: 12px!important;
}

th:hover{
  background-color: rgba(0, 0, 0, 0.04);
}

.td_actions {
  border-left: 2px solid rgba(88,89,91,1);
  padding: 10px;
}

#th_actions{
  border-bottom:none;
  width:49px;
}
#th_actions:hover {
  background-color: inherit;
  cursor: inherit;
}

.table-head {
  font-size: 10px;
}

.table-body {
  font-size: 15px;
  vertical-align: top;
}

#Image {
  padding: 1%;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 184.248px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 17px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ButtonsDivider {
  overflow: visible;
  position: absolute;
  width: 65.961px;
  height: 1px;
  transform: matrix(1,0,0,1,0,0);
}

#COPYRIGHT_2019___KOSTOUMART {
  position: absolute;
  right:0;
  white-space: nowrap;
  line-height: 10.800000190734863px;
  margin-top: -0.9000000953674316px;
  margin-right: 2%;
  text-align: left;
  font-family: InputMono-Thin;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: rgba(88,89,91,1);
}

#Divider {
  width: 100%;
  height: 16px;
  background-color: white;
}

#Footer {
  position: fixed;
  width: 50%;
  bottom: 10px;
  border: 3px transparent white;
  right: 0;
}

.Sidebar {
  overflow-y: hidden!important;
  overflow-x: hidden!important;
}


#TextWithIconCell {
  display: table-cell;
  text-align: center;
  vertical-align: text-bottom;
}

/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 17px;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 68px; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  
  /* */
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background: white!important;
}

.multi-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-block-start: 0;
}

input {
  border: none;
}
