#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    text-align: center ;
    margin-top : 1%;
}
  
.footer {
    background-color: #ffffff;
    font-size: 20px;
    color: black;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

