#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    text-align: center ;
    margin-top : 1%;
}
  
#footer {
    bottom : 0;
    height:60px;
    margin-top : 40px;
    text-align: center ;
    font-size: 10px ;
}

