#SidebarContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch !important;
    transition: left .3s ease-out right .3s ease-out;
    width: inherit;
    height: inherit;
}

.filters {
    margin: 10%;
}

#description {
    overflow: visible;
    width: 267px;
    padding-bottom: 4%;
    white-space: nowrap;
    line-height: 18px;
    text-align: left;
    font-family: Roboto-LightItalic;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.43px;
}

#Separator{
    overflow: visible;
    width: 350px;
    margin: 0;
    border-top: 2px dashed rgb(92, 92, 92);
}

.filterArea {
    padding: 10%;
}

#Label {   
    overflow: visible;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -9px;
    margin-bottom: 35px;
    text-align: center;
    font-family: InputMono-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.4px;
}

#Options {
    overflow: visible;
    width: 92.167px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -7px;
    text-align: left;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.43px;
}

#SeparatorDown {
    width: 350px;
    border-top: 2px dashed rgb(92, 92, 92);
    margin: auto;
}

#SeparatorButtons {
    overflow: visible;
    width: 175px;
    height: 72.375px;
 
    border-right: 2px dashed rgb(92, 92, 92);
}

#ButtonApply {
    overflow: visible;
    position: absolute;
    width: 110.41px;
    height: 38.568px;
    left: 60px;
    top: 732.313px;
    background-color: white;
    cursor: pointer;
}

#ButtonApply:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

#ButtonReset {
    overflow: visible;
    position: relative;
    width: 105.411px;
    left: 200px;
    top: -50px;
    background-color: white;
    cursor: pointer;
}


#ButtonReset:hover {
    background-color: rgba(0, 0, 0, 0.04);
}