#SidebarContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch !important;
    transition: left .3s ease-out right .3s ease-out;
    width: inherit;
    height: inherit;
}

#description {
    position: absolute;
    left: 44.05px;
    top: 69.874px;
    overflow: visible;
    width: 267px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -2px;
    text-align: left;
    font-family: Roboto-LightItalic;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.43px;
}

#Separator{
    overflow: visible;
    position: absolute;
    width: 288.753px;
    left: 49.337px;
    top: 142.033px;
    border-top: 2px dashed rgb(92, 92, 92);
    margin: auto;
}

#TechniqueLabel {
    position: absolute;
    left: 78.338px;
    top: 187.171px;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -9px;
    text-align: left;
    font-family: InputMono-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.4px;
}

#TechniqueOptions {
    position: absolute;
    left: 78.338px;
    top: 226.694px;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -7px;
    text-align: left;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.43px;
}

#SexLabel {
    position: absolute;
    left: 78.338px;
    top: 423.023px;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -9px;
    text-align: left;
    font-family: InputMono-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.4px;
}

#SexOptions {
    position: absolute;
    left: 78.338px;
    top: 462.492px;
    overflow: visible;
    width: 188px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -7px;
    text-align: left;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(56,56,56,1);
    letter-spacing: 0.43px;
}

#SeparatorDown {
    overflow: visible;
    position: absolute;
    width: 288.753px;
    left: 49.337px;
    top: 710.411px;
    border-top: 2px dashed rgb(92, 92, 92);
    margin: auto;
}

#SeparatorButtons {
    overflow: visible;
    position: absolute;
    width: 0.5px;
    height: 72.375px;
    left: 187.021px;
    top: 710.411px;
    border-left: 2px dashed rgb(92, 92, 92);
}

#ButtonApply {
    overflow: visible;
    position: absolute;
    width: 110.41px;
    height: 38.568px;
    left: 55.4px;
    top: 732.313px;
    background-color: white;
}

#ButtonApply:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

#ButtonReset {
    overflow: visible;
    position: absolute;
    width: 105.411px;
    height: 38.568px;
    left: 217.522px;
    top: 732.313px;
    background-color: white;
}


#ButtonReset:hover {
    background-color: rgba(0, 0, 0, 0.04);
}