textarea {
  border: none;
}


.column {
  float: left;
}

.main {
  width: 50%;
  height: fit-content;
}

.select-column {
  width: 40%;
  padding-right: 40px;
}

.rows {
  display: grid;
  grid-row: 13.45px;
}

#InputArea {
  width: 796.206px;
  height: 58.607px;
  padding: 3%;
}

#LabelWithSubtitle {
  width: 400px;
  height: 16px;
  margin-top: -1.1000003814697266px;
	text-align: left;
	font-family: Roboto-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,222,23,1);
}

.Title {
  margin: 0px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}

.Subtitle {
  margin: 0px;
  margin-left: 10px;
  display: inline-block;
  font-size: 9px;
  color: rgba(147,149,152,1);
}

#SelectContainer {
  margin-top: 13.45px;
}

.css-2b097c-container {
  background-color: inherit;
  line-height: 32px;
  margin-top: 13.45px;
  margin-bottom: 13.45px!important;
}

.css-yk16xz-control {
  border: none!important;
  border-bottom: 1px solid rgba(255,222,23,1)!important;
  background-color: inherit;
  border-radius: 0px!important;
}

.css-1pahdxg-control {
  background-color: inherit;
  border: none!important;
  border-bottom: 1px solid rgba(255,222,23,1)!important;
  border-radius: 0px!important;
}

.css-1pahdxg-control:hover {
  border: none!important;
  border-bottom: 1px solid rgba(255,222,23,1)!important;
  border-radius: 0px!important;
}

.css-14jk2my-container {
  width: 365.137px;
  height: 58.606px;
  background-color: rgba(242,242,242,1)!important;
}

.css-1fhf3k1-control {
  width: 365.137px;
  height: 58.606px;
  border: none!important;
  border-bottom: 1px solid rgba(255,222,23,1)!important;
  background-color: rgb(228, 228, 228)!important;
  border-radius: 0px!important;
}

.react-select {
  font-family: RobotoSlab-Light!important;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 19px!important;
}

textarea {
  background-color: inherit;
  margin-top: 13.45px;
  overflow: hidden;
  text-align: left;
  font-family: RobotoSlab-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,222,23,1);
  border-radius: 0px!important;
}

#DescriptionInput {
  width: 100%;
  margin-top: 13.45px!important;
  margin-bottom: 13.45px!important;
  min-height: 254.452px;
  line-height: 18px;    
  margin-top: -1.5px;
  vertical-align: bottom;
  text-align: left;
  font-family: RobotoSlab-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,222,23,1);
  border-radius: 0px!important;
  resize: none;
}

.FormPanel {
  position: relative;
  margin-top: 39px;
  margin-left: 94.302px;
  display: flex;
  justify-content: left;
  text-align: left!important;
  background-color: rgba(255,255,255,1);
}

#FormTitle {
  font-size: 125%;
  font-weight: 400;
  margin-top: 3%;
  margin-left: 3%;
}

.Label {
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  font-family: RobotoSlab-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

#image-button {
  width: 150px;
  height: 45px;
}

#input-area {
  width: 100%;
  line-height: 32px;    
  margin-top: -1.5px;
  background-color: inherit;
  margin-top: 13.45px;
  margin-bottom: 13.45px!important;
  overflow: hidden;
  text-align: left;
  font-family: RobotoSlab-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,222,23,1);
  border-radius: 0px!important;
}

#CostumeUseCategory {
  position: absolute;
  width: 365.137px;
  height: 58.606px;
  left: 965.704px;
  top: 121.773px;
  overflow: visible;
}
#CostumeUseCategoryArea {
  position: absolute;
  width: 111px;
  height: 26px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#CostumeUseCategoryLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 112px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#CostumeUseName {
  position: absolute;
  width: 365.137px;
  height: 58.606px;
  left: 1384.461px;
  top: 121.773px;
  overflow: visible;
}

#CostumeUseNameArea {
  position: absolute;
  width: 92px;
  height: 26px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#CostumeNameLabel {
  position: absolute;
  left: 0px;
  top: 0px;
    overflow: visible;
    width: 93px;
    white-space: nowrap;
    line-height: 13.200000762939453px;
    margin-top: -1.1000003814697266px;
    text-align: left;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(255,222,23,1);
}

#CostumeDate {
  position: absolute;
  width: 365.137px;
  height: 58.606px;
  left: 965.445px;
  top: 219.157px;
  overflow: visible;
}

#CostumeDateArea {
  position: absolute;
  width: 36px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#CostumeDateLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#CostumeSex {
  position: absolute;
  width: 365.138px;
  height: 58.606px;
  left: 1384.461px;
  top: 219.157px;
  overflow: visible;
}
#CostumeSexArea {
  position: absolute;
  width: 31px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#CostumeSexLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 32px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#CostumeTechnique {
  position: absolute;
  width: 365.137px;
  height: 58.606px;
  left: 965.445px;
  top: 320.651px;
  overflow: visible;
}
#CostumeTechniqueArea {
  position: absolute;
  width: 45px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#CostumeTechniqueLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 46px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}
#TP {
  position: absolute;
  width: 365.138px;
  height: 58.606px;
  left: 1384.461px;
  top: 320.651px;
  overflow: visible;
}
#TPArea {
  position: absolute;
  width: 129px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#TPLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 130px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#Designer {
  position: absolute;
  width: 766.891px;
  height: 58.606px;
  left: 969.022px;
  top: 457.308px;
  overflow: visible;
}
#DesignerArea {
  position: absolute;
  width: 64px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#DesignerLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#TextArea {
  height: 50px;
  margin-top: 13.45px;
  text-align: left;
  font-family: RobotoSlab-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  color: rgba(88,89,91,1);
  background-color: inherit;
  border-bottom: 1px solid rgba(255,222,23,1);
  border-radius: 0px!important;
}

#TextArea:focus{
  border: none;
}

#Geosuggest {
  position: absolute;
  width: 766.891px;
  height: 58.606px;
  left: 969.022px;
  top: 579.539px;
  overflow: visible;
}
#GeosuggestArea {
  position: absolute;
  width: 129px;
  height: 26px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#GeosuggestLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 130px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#Actors {
  position: absolute;
  width: 766.891px;
  height: 58.606px;
  left: 969.022px;
  top: 709.983px;
  overflow: visible;
}
#ActorsArea {
  position: absolute;
  width: 113px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#ActorsLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 114px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#ButtonSave {
  position: absolute;
  width: 104.628px;
  height: 37.787px;
  left: 933.514px;
  top: 850.279px;
  overflow: visible;
}

#ButtonCancel{
  position: absolute;
  width: 104.628px;
  height: 37.787px;
  left: 798.899px;
  top: 850.279px;
  overflow: visible;
}

#Name {
  position: absolute;
  width: 801.891px;
  height: 58.608px;
  left: 72.872px;
  top: 143.551px;
  overflow: visible;
}
#NameArea {
  position: absolute;
  width: 143px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#NameLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 144px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#UseCategory {
  position: absolute;
  width: 801.891px;
  height: 58.608px;
  left: 72.872px;
  top: 246.781px;
  overflow: visible;
}
#UseCategoryArea {
  position: absolute;
  width: 111px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#UseNameLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 112px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}
#UseDescription {
  position: absolute;
  width: 799.06px;
  height: 297.81px;
  left: 76.271px;
  top: 349.688px;
  overflow: visible;
}
#UseCustoms {
  position: absolute;
  width: 802.891px;
  height: 58.609px;
  left: 71.872px;
  top: 707.49px;
  overflow: visible;
}
#UseCustomsArea {
  position: absolute;
  width: 62px;
  height: 39px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#UseCustomsLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 63px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#Director {
  position: absolute;
  width: 801.891px;
  height: 58.608px;
  left: 72.872px;
  top: 246.781px;
  overflow: visible;
}
#DirectorArea {
  position: absolute;
  width: 143px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#DirectorLabel {
  position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 144px;
    white-space: nowrap;
    line-height: 13.200000762939453px;
    margin-top: -1.1000003814697266px;
    text-align: left;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(255,222,23,1);
}
#Theater {
  position: absolute;
  width: 646.89px;
  height: 58.608px;
  left: 72.872px;
  top: 402.87px;
  overflow: visible;
}
#TheaterArea {
  position: absolute;
  width: 42px;
  height: 13px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#TheaterLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 43px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

#TPDate {
  position: absolute;
  width: 646.89px;
  height: 58.608px;
  left: 72.872px;
  top: 550.779px;
  overflow: visible;
}
#TPDateArea {
  position: absolute;
  width: 75px;
  height: 26px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#TPDateLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 76px;
  white-space: nowrap;
  line-height: 13.200000762939453px;
  margin-top: -1.1000003814697266px;
  text-align: left;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(255,222,23,1);
}

